<div class="row blurin" style="padding: 5px;">
    <div class="col-md-6 col-sm-12" style="padding: 0px;">
        <img class="borderl w-100 glass" src="<%=country.img%>" alt="фото не представлено">
    </div>
    <div class="col-md-6 col-sm-12 borderr glass" style="background-color: rgba(255, 255, 255, 0.363);">
        <h5 class="card-title">
            <%=country.name%>
            <%- include("../components/erth2mark" , {country}) %>
            <%- include("../components/irlmark" , {country}) %>
        </h5>
        <p class="card-text"><%-(country.md ? removeMd(country?.description).slice(0, 500) : country?.description?.replace(/(<([^>]+)>)/gi,'').slice(0, 500))+"..."%></p>
        <a data-tilt href= "/countries/<%=country.idc%>" class="btn btn-primary mb-2"><%= __("more-about") %></a>
    </div>
</div>