<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        
        <meta name="robots" content="noindex" />
        <title>Виртуальные государства</title>
        <style>
            html{
              overflow-x: hidden;
            }
          </style>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <div class="container borderc" style="background-color: #f8f9fa;">
            <div class="alert alert-danger mb-0 text-center" style="border-radius: 20px; padding: 5px;" role="alert">
                Наш сайт не несет ответственности за материалы размещенные на данной странице. Все материалы размещаются пользователями. Мы стараемся удалять запрещенный контент.
            </div>
            <div class="alert alert-dark text-center" style="border-radius: 20px; padding: 5px;" role="alert">
                Государств ждущих подтверждения <%= count %> <a class="text-succes" href="/req-country">Подать заявку</a>
            </div>
            <%
                for(let i = 0; i<val.length; i++){
                    if(i%3==0){
                        %>
                        <div class="row" style="padding: 5px;">
                            <%- include("../components/coads") %>
                        </div>
                        <%
                    }
                    %>
                        <%- include("../components/pending-country-card", {i}) %>
                    <%
                }  
            %>
        </div>
    </body>
</html>