<!DOCTYPE html>
<% 
let options = [
    {
        title:"id страны*",
        help:"Можно использовать английские буквы и тире(-)",
        id:"idc",
        required:true,
        placeholder:"banana-republic"
    },
    {
        title:"Имя страны*",
        id:"name",
        help:"Название вашей страны",
        placeholder:"Банановая республика",
        required:true
    },
    {
        title:"Ссылка на фото флага страны*",
        id:"img",
        help:"Желательно фото с сайта imgur",
        required:true,
        placeholder:"https://i.imgur.com/iNAUnTN.png"
    },
    {
        title:"Тип правления*",
        id:"type",
        required:true,
        type:"many",
        types:[
            "group:Монархия",
            "Абсолютная монархия",
            "Ограниченная монархия",
            "Сословно-представительная монархия",
            "Конституционная монархия",
            "Дуалистическая монархия",
            "Парламентская монархия",
            "Президентская монархия",
            "group:Республика",
            "Президентская республика",
            "Парламентская республика",
            "Смешанная республика",
            "Смешанная Республика с уклоном в Парламентскую Республику",
            "Монархия с республиканскими элементами",
            "Республика с монархическими элементами",
            "Теократическая республика",
            "group:Остальное",
            "Диктатура",
            "Комунна",
            "Анархия"
        ]
    },
    {
        title:"Описание*",
        id:"description",
        type:"area",
        required:true
    },
    {
        title:"Правитель*",
        id:"owner",
        help:"Имя правителя страны",
        placeholder:"Бананов Бананоед",
        required:true
    },
    {
        title:"Контакт правителя*",
        id:"contact",
        help:"Только ссылка",
        placeholder:"https://vk.com/example",
        required:true
    },
    {
        title:"Дата основания*",
        id:"date",
        placeholder:"22.02.2021",
        required:true
    },
    {
        title:"Сайт",
        id:"site",
        help:"Ссылка на сайт государства",
        placeholder:"https://example.com"
    },
    {
        title:"Группа в вк",
        id:"vk",
        help:"Ссылка на группу вк государства",
        placeholder:"https://vk.com/example"
    },
    {
        title:"Хочу вступить в ООВГ.",
        id:"oovg",
        type:"many",
        types:[
            "Да",
            "Нет"
        ]
    }
]
%> 
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <script src="https://www.google.com/recaptcha/api.js" async defer></script> 
        <script src="/public/js/autobind.js"></script> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

        <meta name="description" content="Хочешь чтобы твое государство индексировалось в MOVC? Тогда подай заявку здесь. Форма подачи заявки в виртуальное государство"/>
        <meta id="idcinfo" content="<%=query.idc%>"/>
        <title>Отправить заявку на добавление в индексирование государств</title>
        <script>
            window.addEventListener("load", ()=>{
                var simplemde = new SimpleMDE({ element: document.getElementById("description"), forceSync: true});
            });
        </script>
    </head>
    <body>
        <script src="/public/js/prevent.js"></script>
        <%- include("../components/menu") %>
        <div class="container">
            <div class="row text-center">
                <%- include("../components/cuads") %> 
            </div>
            <form action="/addcountry" method="post">
                <%- include("../components/form", {options}) %> 
                <div class="formrow row m-5">
                    <div class="col-lg-12"><label class="form-label">Подтвердите, что вы человек</label></div>
                    <div class="col-sm-12">
                        <div class="g-recaptcha" data-sitekey="6LfUhYAcAAAAAOC-Ilm3foyisMXCUZre3Y10HZJk"></div>
                    </div>
                </div>
                <div class="row m-5">
                    <input formaction="/country-preview" formtarget="_blank" type="submit" value="Предпросмотр" class="btn btn-primary mb-1">
                    <input type="submit" value="Отправить" id="send" class="btn btn-dark">
                </div>
                <%- include("../components/agreements") %> 
            </form>
        </div>
    </body>
</html>